@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
  --main-color: #000000;
  --primary-color: #cccccc;
  --secondary-color: #daff01;
  --tertiary-color: #9353ff;
  --neutral-color: #fff;
  --main-font: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: var(--main-font);
}

body {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 1 none;
  outline: 0;
}

/*-----------HEADER-------------*/

header {
  display: flex;
  background-color: var(--main-color);
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

#mobile-logo {
  display: none;
}

#header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 13px 23px;
}

#logo-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 400;
  font-size: 0.9rem;
}

#logo-links a {
  color: var(--neutral-color);
  display: block;
  width: 100%;
  white-space: nowrap;
}

.btns-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 13px 23px;
}

#input-product {
  width: 175px;
  padding: 10px 15px;
}

.btn-nav {
  padding: 10px;
  border: 1px solid var(--neutral-color);
  background-color: transparent;
  color: var(--neutral-color);
  width: 80px;
  cursor: pointer;
}

.img-banner {
  width: 100%;
}

/*---------MOBILE NAVBAR------------*/
#mobile-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(56, 56, 56);
  text-align: start;
  padding: 50px 20px 40px 20px;
  gap: 30px;
  width: 220px;
  z-index: 2;
  transition: 0.4s;
}

#menu,
#close-menu {
  display: none;
}

#close-menu {
  position: absolute;
  top: 10;
  right: 20;
}

.bi {
  text-align: end;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

#mobile-navbar a {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 5px;
  font-size: 0.8rem;
}

#mobile-navbar #link-home {
  color: var(--secondary-color);
}

#mobile-navbar.menu-active {
  right: -1000px;
}

/*-------------GRID---------------*/
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;
  max-width: 1060px;
  margin: auto;
  padding-top: 70px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cardgrid img {
  width: 100%;
  min-width: 160px;
  height: 157px;
}

.card-title {
  background-color: var(--main-color);
  color: var(--neutral-color);
  text-align: center;
  padding: 8px 16px;
}

/*----------PRODUCT-------------*/

.title-cards {
  font-size: 1.8rem;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border: 1px solid #cccccc94;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.481);
}

.products img {
  object-fit: cover;
}

.product {
  width: 340px;
  height: 400px;
}

.detail {
  max-width: 339px;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 15px;
}

.product-title {
  font-size: 1rem;
}

.product-description {
  font-size: 0.8rem;
}

.product-price {
  font-weight: 700;
  font-size: 1rem;
}

.btn-more {
  width: 100px;
  padding: 9px 16px;
  background-color: var(--tertiary-color);
  color: var(--neutral-color);
  border: none;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

/*------FACILITIES----------*/

.facilities {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 50px;
  gap: 40px;
}

.card-facilities {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.facilities h1 {
  color: var(--neutral-color);
  text-transform: uppercase;
}
.facilities .text-facilities {
  color: var(--neutral-color);
}

.title-facilities {
  font-size: 0.8rem;
}

.facilities .title-facilities {
  color: var(--secondary-color);
}

.box-facilities {
  display: flex;
  gap: 15px;
}

.facilities-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  gap: 20px;
  max-width: 150px;
}

/*----------SALE BOX-------------*/

#sale-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--main-color);
  padding: 20px 40px;
  width: 600px;
  text-align: center;
  gap: 15px;
  margin: 50px auto;
}

.send-email {
  display: flex;
}
.send-email input {
  width: 300px;
  padding: 8px;
  border-radius: 0px;
  border: 1px solid var(--main-color);
}

.btn-hover:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

/*-----------FOOTER------------*/

footer {
  background-color: var(--main-color);
  color: var(--neutral-color);
  padding: 15px;
  text-align: center;
  font-size: 0.8rem;
}

.btn-more::active {
  transform: translateY(-1px);
}

/*-----------MEDIA QUERY------------*/

@media (max-width: 1060px) {
  main {
    max-width: 800px;
  }

  #logo-links {
    font-size: 1rem;
    gap: 10px;
  }
  .cards-tablet {
    align-content: center;
  }

  .card-facilities {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .btns-nav {
    justify-content: center;
  }

  #sale-box {
    padding: 50px;
  }
}

@media (max-width: 865px) {
  header {
    flex-direction: column;
  }
  #logo-links {
    display: none;
  }

  #menu,
  #close-menu {
    display: block;
  }

  .btns-nav {
    background-color: var(--neutral-color);
    padding: 30px;
  }

  #input-product {
    border: 1px solid black;
    width: 230px;
  }

  .btn-nav {
    background-color: var(--neutral-color);
    border: 1px solid black;
    color: var(--main-color);
  }

  .cardgrid {
    width: 160px;
  }

  .cardgrid img {
    object-fit: cover;
  }

  .cardgrid .img-sunglasses {
    object-position: calc(30%);
  }

  #sale-box {
    width: 340px;
    padding: 25px 15px;
  }

  .cards-tablet {
    padding: 20px;
  }

  #sale-box p {
    font-size: 0.9rem;
  }

  .send-email {
    width: 100%;
  }

  footer p {
    font-size: 0.9rem;
  }
}
