@import url(style.css);

header {
  background-color: var(--main-color);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#mobile-logo {
  display: none;
}

#header {
  display: flex;
  gap: 30px;
  padding: 25px;
}

#logo-links {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 400;
  font-size: 1rem;
}

#logo-links a {
  color: var(--neutral-color);
  display: block;
  width: 100%;
  white-space: nowrap;
}

#logo-links a:hover {
  color: var(--tertiary-color);
  transition: 1s;
  transform: rotate3d(1, 2, 3, 10deg);
}

.btns-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 23px;
  position: absolute;
  right: 0;
}

.bi-bag {
  font-size: 1.8rem !important;
  cursor: pointer;
}

#input-product {
  width: 175px;
  padding: 10px 15px;
}

.btn-nav-filter {
  padding: 10px;
  border: 1px solid var(--neutral-color);
  background-color: transparent;
  color: var(--neutral-color);
  width: 80px;
  cursor: pointer;
}

.img-banner {
  width: 100%;
}
