#sale-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--main-color);
  padding: 20px 40px;
  width: 600px;
  text-align: center;
  gap: 15px;
  margin: 50px auto;
}

.send-email {
  display: flex;
  position: relative;
}
.send-email input {
  padding: 8px;
  border-radius: 0px;
  border: 1px solid var(--main-color);
}

.btn-hover:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

#errorContainer {
  color: crimson;
  margin: auto;
  padding: 10px 0px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 33px;
  left: 0;
}
